@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    width: 100%;
}

.search-container button {
    padding: 8.5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s linear;
}

.search-container select {
    padding: 8.5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
    margin-right: 10px;
    padding-right: 10px;
}

.search-container button:hover {
    background-color: #0056b3;
}

#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book, .article, .video {
    display: inline-block;
    background: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 300px; /* Ensure consistent width */
    text-align: center; /* Center the text */
}

.book img, .video img {
    max-width: 100px;
    border-radius: 5px;
}

.book h3, .article h3, .video h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.book p, .article p {
    font-size: 0.9em;
    color: #666;
}

.book a, .article a, .video a {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.book a:hover, .article a:hover, .video a:hover {
    background-color: #0056b3;
}

