@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

:root {
    --dark-background: #001220;
}
/* Dark Theme for Home page  */
body.dark {
    background: url('../data/image/darkBackground.svg') no-repeat center center fixed;
    background-size: cover;
    background-color: var(--dark-background);
    color: #ffffff;
}

body.dark .navbar {
    background-color: var(--dark-background);
    color: #ffffff;
}

body.dark .navbar .menu li a {
    color: #ffffff;
}

body.dark .navbar .menu li .dropdown {
    display: none;
    background: #001220;
}

body.dark .navbar .menu li .dropdown-left {
    display: none;
    background: #001220;
}


body.dark .navbar .logo:hover {
    color: #007bff;
}

body.dark .navbar .menu li .dropdown .dropdown-item {
    color: #ffffff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

body.dark .navbar .menu li .dropdown .dropdown-item:hover {
    background-color: #002c4ec8;
}

body.dark .navbar .menu li .dropdown-left a {
    border-radius: 4px;
    transition: all 0.3s ease;
}

body.dark .navbar .menu li .dropdown-left a:hover {
    background-color: #001c31;
}

body.dark footer a {
    color: #ffffff;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#home h1 {
    font-size: 3em;
    text-align: center;
}

#home p {
    font-size: 1.5em;
}

#home a {
    color: #007bff;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #6c757d;
}

footer a {
    color: #6c757d;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s ease;
    padding-right: 10px;
    float: right;

    &:focus,
    &:active,
    &:hover {
        color: #007bff;
    }
}
